<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users from Freemarker</title>
</head>
<body>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <#list usersModel as listUser>
        <tr>
            <td>${listUser.firstName}</td>
            <td>${listUser.lastName}</td>
            <td>${listUser.email}</td>
        </tr>
    </#list>
</table>
</body>
</html>